@using Model.Note
@model List<NoteModel>

<ol class="breadcrumb breadcrumb-quirk">
    <li><a asp-action="index" asp-controller="home"><i class="fa fa-home mr5"></i> 主页</a></li>
    <li><a href="buttons.html">测试功能</a></li>
    <li class="active">L+心情</li>
</ol>
<hr class="darken">
<div class="row">
    <div class="col-sm-8 col-md-9 col-lg-10">
        <div class="timeline-wrapper">
            @Html.Partial("_Note",Model)
            <div class="timeline-date"><a href="">Load more...</a></div>
        </div><!-- timeline-wrapper -->
    </div>
</div><!-- row -->