@using Model.Note
@model List<NoteModel>

<ol class="breadcrumb breadcrumb-quirk">
    <li><a asp-action="index" asp-controller="home"><i class="fa fa-home mr5"></i> 主页</a></li>
    <li><a href="buttons.html">测试功能</a></li>
    <li class="active">L+心情</li>
</ol>
<hr class="darken">
<div class="row">
    <div class="col-sm-8 col-md-9 col-lg-10">
        <div class="timeline-wrapper">
            @Html.Partial("_Note",Model)
            <div class="timeline-date"><a href="">Load more...</a></div>
        </div><!-- timeline-wrapper -->
    </div>
    <div class="col-sm-4 col-md-3 col-lg-2">
        <div class="panel panel-primary-full">
            <div class="panel-heading">
                <h3 class="panel-title">Headlines</h3>
            </div>
            <div class="panel-body">
                <p class="nomargin">Graeco feugait ea quo. Quot erat vidit ad nam, mea quod nostro dolores ad. Elitr theophrastus vis ex. Volutpat consulatu vel ex. Viderer consulatu ei pro, in has aliquid placerat philosophia, timeam admodum minimum vim no.</p>
            </div>
        </div><!-- panel -->
        <div class="panel">
            <div class="panel-heading">
                <h4 class="panel-title">People You May Know</h4>
            </div>
            <div class="panel-body">
                <ul class="media-list user-list">
                    <li class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object img-circle" src="../images/photos/user9.png" alt="">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading"><a href="">Ashley T. Brewington</a></h4>
                            <span>5,323</span> Followers
                        </div>
                    </li>
                    <li class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object img-circle" src="../images/photos/user10.png" alt="">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading"><a href="">Roberta F. Horn</a></h4>
                            <span>4,100</span> Followers
                        </div>
                    </li>
                    <li class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object img-circle" src="../images/photos/user3.png" alt="">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading"><a href="">Jennie S. Gray</a></h4>
                            <span>3,508</span> Followers
                        </div>
                    </li>
                    <li class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object img-circle" src="../images/photos/user4.png" alt="">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading"><a href="">Alia J. Locher</a></h4>
                            <span>3,508</span> Followers
                        </div>
                    </li>
                    <li class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object img-circle" src="../images/photos/user6.png" alt="">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading"><a href="">Jamie W. Bradford</a></h4>
                            <span>2,001</span> Followers
                        </div>
                    </li>
                </ul>
            </div>
        </div><!-- panel -->
        <div class="panel">
            <div class="panel-heading">
                <h4 class="panel-title">Your Followers Activity</h4>
            </div>
            <div class="panel-body">
                <ul class="media-list user-list">
                    <li class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object img-circle" src="../images/photos/user2.png" alt="">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading nomargin"><a href="">Floyd M. Romero</a></h4>
                            is now following <a href="">Christina R. Hill</a>
                            <small class="date"><i class="glyphicon glyphicon-time"></i> Just now</small>
                        </div>
                    </li>
                    <li class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object img-circle" src="../images/photos/user10.png" alt="">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading nomargin"><a href="">Roberta F. Horn</a></h4>
                            commented on <a href="">HTML5 Tutorial</a>
                            <small class="date"><i class="glyphicon glyphicon-time"></i> Yesterday</small>
                        </div>
                    </li>
                    <li class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object img-circle" src="../images/photos/user3.png" alt="">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading nomargin"><a href="">Jennie S. Gray</a></h4>
                            posted a video on <a href="">The Discovery</a>
                            <small class="date"><i class="glyphicon glyphicon-time"></i> June 25, 2015</small>
                        </div>
                    </li>
                    <li class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object img-circle" src="../images/photos/user5.png" alt="">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading nomargin"><a href="">Nicholas T. Hinkle</a></h4>
                            liked your video on <a href="">The Discovery</a>
                            <small class="date"><i class="glyphicon glyphicon-time"></i> June 24, 2015</small>
                        </div>
                    </li>
                    <li class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object img-circle" src="../images/photos/user2.png" alt="">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading nomargin"><a href="">Floyd M. Romero</a></h4>
                            liked your photo on <a href="">My Life Adventure</a>
                            <small class="date"><i class="glyphicon glyphicon-time"></i> June 24, 2015</small>
                        </div>
                    </li>
                </ul>
            </div>
        </div><!-- panel -->
    </div>
</div><!-- row -->