<div class="tab-pane" id="contactmenu">
    <div class="input-group input-search-contact">
        <input type="text" class="form-control" placeholder="Search contact">
        <span class="input-group-btn">
            <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
        </span>
    </div>
    <h5 class="sidebar-title">My Contacts</h5>
    @await Component.InvokeAsync("ContactList")
</div><!-- tab-pane -->